@font-face {
  font-family: "Chillax-Regular";
  src:
    url("../fonts/Chillax-Regular.ttf") format("truetype"),
    url("../fonts/Chillax-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Chillax-Light";
  src:
    url("../fonts/Chillax-Light.ttf") format("truetype"),
    url("../fonts/Chillax-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Satoshi-Light";
  src:
    url("../fonts/Satoshi-Light.ttf") format("truetype"),
    url("../fonts/Satoshi-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Gambetta-Light";
  src:
    url("../fonts/Gambetta-Light.ttf") format("truetype"),
    url("../fonts/Gambetta-Light.woff2") format("woff2");
}
:root {
  --primary-color: #dac5a7;
  --secondary-color: #0e0e0e;
  --muted-primary-color: rgba(218, 197, 167, 60%);
  --muted-primary-color-15: rgba(218, 197, 167, 15%);
  --muted-primary-color-5: rgba(218, 197, 167, 5%);
  --Chillax-Regular: "Chillax-Regular";
  --Chillax-Light: "Chillax-Light";
  --Satoshi-Light: "Satoshi-Light";
  --Gambetta-Light: "Gambetta-Light";
}
html {
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: var(--Chillax-Light);
  font-size: 1.6rem;
  color: var(--primary-color);
  background: var(--secondary-color);
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
::placeholder {
  color: var(--primary-color);
  opacity: 1;
}

::-ms-input-placeholder {
  color: var(--primary-color);
}
/* reset */
a {
  text-decoration: none;
  color: inherit;
}
/* Components */
.title {
  margin: 0 auto;
  text-align: center;
}
.title span {
  font-style: italic;
  font-family: var(--Gambetta-Light);
}
.caption {
  margin: 1.6rem auto;
  text-align: center;
  font-family: var(--Chillax-Light);
  line-height: 3rem;
  color: var(--muted-primary-color);
}
.btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  padding: 1rem 1rem;
}
.btn:hover,
.btn:hover svg {
  transition: all 150ms ease-in-out 20ms;
  -webkit-transition: all 150ms ease-in-out 20ms;
  -moz-transition: all 150ms ease-in-out 20ms;
  -ms-transition: all 150ms ease-in-out 20ms;
  -o-transition: all 150ms ease-in-out 20ms;
}
.btn:hover {
  background-color: var(--muted-primary-color);
  color: var(--primary-color);
}
.btn:hover svg {
  stroke: var(--primary-color);
}
.btn:active {
  background: var(--muted-primary-color-15);
}
.svg-arrow {
  background-color: rgba(218, 197, 167, 10%);
  border: 1px solid var(--muted-primary-color);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.badge {
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  transition: all 150ms ease-out 20ms;
  -webkit-transition: all 150ms ease-out 20ms;
  -moz-transition: all 150ms ease-out 20ms;
  -ms-transition: all 150ms ease-out 20ms;
  -o-transition: all 150ms ease-out 20ms;
}
/* container */
.container {
  max-width: 1440px;
  padding-right: 6.4rem;
  padding-left: 6.4rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
/* header */
.menu {
  max-width: 60rem;
  margin: 3rem auto 0 auto;
  height: 6rem;
  background-color: var(--muted-primary-color-5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--muted-primary-color-15);
  backdrop-filter: blur(3rem);
  border-radius: 0.5;
  -webkit-border-radius: 0.5;
  -moz-border-radius: 0.5;
  -ms-border-radius: 0.5;
  -o-border-radius: 0.5;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}
.menu__icon {
}
.menu__items-wrappper {
  display: flex;
  gap: 2rem;
}
.menu__items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
}
/* mobile menu */
.mobile-nav {
  display: none;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: var(--muted-primary-color-5);
  backdrop-filter: blur(5rem);
  z-index: 1000;
  padding: 1.5rem;
}
.menu-nav__icon-wrapper {
  display: block;
}
.mobile-nav__menu-wrapper {
  padding: 1rem 0;
}
.mobile-nav__menu {
  position: relative;
}
.mobile-nav__menu,
.mobile-nav__menu::after,
.mobile-nav__menu::before {
  content: "";
  background-color: var(--primary-color);
  height: 0.15rem;
  width: 2.5rem;
}

.mobile-nav__menu::before,
.mobile-nav__menu::after {
  position: absolute;
  top: 0.8rem;
}
.mobile-nav__menu::after {
  position: absolute;
  top: -0.8rem;
}
.menu-mobile {
  background-color: var(--muted-primary-color-5);
  backdrop-filter: blur(3rem);
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5rem;
  position: fixed;
  height: 100%;
  z-index: 999;
  width: 50vw;
  padding: 5rem;
  display: none;
  transition: all ease-in 500ms;
  -webkit-transition: all ease-in 500ms;
  -moz-transition: all ease-in 500ms;
  -ms-transition: all ease-in 500ms;
  -o-transition: all ease-in 500ms;
}
.menu-mobile__icon-wrapper {
}
.menu-mobile__items-wrappper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.menu__items-link:hover {
  color: var(--muted-primary-color);
  transition: all 150ms ease-out 20ms;
}
.header-content {
  position: relative;
  overflow-x: hidden;
  z-index: -999;
}
.header-content__img {
  margin: 0 auto;
  max-width: 77rem;
  min-width: 20rem;
  position: absolute;
  left: 0;
  right: 0;
  top: -1.4rem;
  z-index: -998;
  object-fit: cover;
}
.header-content__text-wrapper {
  margin-top: 60rem;
}
.header-content__title {
  max-width: 100rem;
  font-size: 14.4rem;
}
.header-content__caption {
  max-width: 71rem;
  font-size: 2.4rem;
}
/* logos section */
.logos-section {
  margin: 12.8rem auto 8rem auto;
}
.logos {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
}
.logos__logo {
}
/* services section */
.services {
}
.services__box-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, auto));
  gap: 3.2rem;
}
.services__box {
  padding: 4.8rem;
  color: var(--muted-primary-color);
  text-align: left;
  background-color: var(--muted-primary-color-5);
  border: 1px solid var(--muted-primary-color-15);
}
.services__box span {
  font-family: var(--Satoshi-Light);
  font-size: 1.3rem;
}
.services__box-title {
  color: var(--primary-color);
  font-family: var(--Satoshi-Light);
  font-size: 2.4rem;
  margin: 0.4rem auto 0.8rem auto;
}
.services__box-caption {
  height: 12rem;
  line-height: 2.2rem;
}
.services__box-link {
  color: var(--primary-color) !important;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  letter-spacing: 0.2rem;
}
/* work section */
.Work {
  margin-top: 16rem;
}
.work-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}
.work-header__title {
  font-size: 4.8rem;
}
.work-header__link {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.work-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42rem, auto));
  gap: 3.2rem;
}
.work-content__box {
  height: 100%;
  background-color: #fff;
}

.work-content__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* process section */
.process {
  margin-top: 16rem;
  position: relative;
}
.process-header {
  text-align: center;
  margin-bottom: 5rem;
}
.process-header__label {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.process-header__title {
  font-size: 12.8rem;
  max-width: 79rem;
  margin: 1.6rem auto;
}
.process-header__caption {
  max-width: 44rem;
  font-size: 2rem;
}
.process-level-bar-shapes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -999;
  width: min-content;
  top: 38rem;
}

.process-level-bar-shapes__line {
  background-color: var(--muted-primary-color-15);
  width: 0.1rem;
  height: 33rem;
}
.process-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(30rem, 1fr));
  margin-top: 20rem;
}
.process-content__box,
.testimonials-content__box {
  max-width: 50rem;
  padding: 4.8rem;
  background-color: var(--muted-primary-color-5);
  position: relative;
  border: 1px solid var(--muted-primary-color-15);
}
/* process box grid */
#process-box-grid-1 {
  grid-column: 2 / 3;
  justify-self: right;
}
#process-box-grid-2 {
  grid-column: 1 / 3;
}
#process-box-grid-3 {
  grid-column: 2/ 3;
  justify-self: right;
}
#process-box-grid-4 {
  grid-column: 1 / 3;
}
#process-box-grid-5 {
  grid-column: 2 / 3;
  justify-self: right;
}

.process-content__label {
  text-align: right;
  position: absolute;
  font-family: var(--Chillax-Regular);
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: 1px solid var(--muted-primary-color-15);
  border-radius: 0.2rem;
  right: 2rem;
  top: 1.5rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.process-content__do-we-match {
  font-size: 1.3rem;
  margin: 0.8rem 0;
  text-transform: uppercase;
  color: var(--muted-primary-color);
}
.process-content__title,
.testimonials-content__title {
  font-size: 2.4rem;
  font-family: var(--Satoshi-Light);
  text-transform: uppercase;
  margin: 0.8rem 0;
  line-height: 3.2rem;
}
.process-content__caption {
  min-height: 13rem;
}
.process-content__caption,
.testimonials-content__caption {
  font-size: 1.6rem;
  color: var(--muted-primary-color);
  margin-bottom: 1rem;
  line-height: 2.5rem;
}
.process-content__list {
  list-style-type: disc;
}
.process-content__list li {
  margin-bottom: 1.6rem;
  margin-left: 1.6rem;
}
.process-content__list li:last-child {
  margin-bottom: 0;
}
/* testimonials */
.testimonials {
  margin-top: 16rem;
}
.testimonials-header {
  margin-bottom: 6.4rem;
}
.testimonials-header__title {
  font-size: 9.6rem;
  max-width: 44rem;
}
.testimonials-header__caption {
  max-width: 55rem;
  font-size: 1.8rem;
}
.testimonials-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.testimonials-content__box {
  max-width: 60rem;
  height: max-content;
  justify-self: center;
}
.testimonials-content-icon {
}
.testimonials-content__title {
  margin: 3.2rem 0 0.8rem 0;
}
.testimonials-content__caption {
  margin-bottom: 3.2rem;
}
.testimonials-content__users-wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.testimonials-content__user-picture-wrapper {
  width: 6rem;
  height: 6rem;
}
.testimonials-content__users-picture {
  width: 100%;
  height: 100%;
}
.testimonials-content__users-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.testimonials-content__users-name {
  text-transform: uppercase;
}
.users-company {
}
/* section about */

.about {
}
.about-person {
}
.about-person__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, minmax(auto, 1fr));
}
.about-person__picture {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
.about-person__name {
  font-size: 11rem;
  position: absolute;
  bottom: 25rem;
  right: 0;
}
.about-person__name:last-child {
  left: 0;
  right: auto;
  display: inline-block;
  font-style: italic;
  font-family: var(--Gambetta-Light);
}
.about-person__details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about-person__details {
}
.about-person__title {
  font-size: 4.8rem;
  max-width: 53rem;
}
.about-person__caption {
  text-align: left;
  max-width: 50rem;
  margin: 0 0 3.2rem 0;
}
.about-person__logos-wrapper {
  display: flex;
  gap: 1rem;
}
.about-person__logo,
.footer-bottom-content__item-logo,
.front-page-footer-bottom__arrow-logo {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  background-color: var(--muted-primary-color-5);
  border: 1px solid var(--muted-primary-color-15);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  padding: 1.25rem;
}
.footer-bottom-content__item:hover a {
  text-decoration: underline;
  transition: all 150ms ease-out 20ms;
}
.front-page-footer-bottom__arrow:hover .front-page-footer-bottom__arrow-logo {
  background: var(--muted-primary-color-15);
  transition: all 150ms ease-out 20ms;
}
/*footer */
footer {
  margin-top: 20rem;
  background-color: var(--muted-primary-color-5);
}
/* lets talk */
.lets-talk {
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  background-color: rgba(218, 197, 167, 10%);
  overflow-x: hidden;
  gap: 2rem;
}

.lets-talk p {
  text-wrap: nowrap;
}
/* front-page-footer */
.front-page-footer {
  text-align: center;
}
/* footer__top-content */
.footer-top-content {
  margin: 20rem auto;
}

.footer-top-content__label {
  text-transform: uppercase;
}
.footer-top-content__title {
  font-size: 12.8rem;
  font-weight: 600;
}
.footer-top-content__caption {
  font-size: 2rem;
  margin: 1.6rem auto 5rem auto;
  max-width: 59rem;
}

.footer-top-content__btn {
  font-weight: 800;
  letter-spacing: 0.25rem;
  padding: 1.25rem 1.5rem;
}

/* footer-bottom-content  */

.footer-bottom-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 5rem;
  align-items: flex-start;
}
.footer-bottom-content__items-wrapper {
  max-width: 46rem;
}
.footer-bottom-content__items-title {
  margin-bottom: 5rem;
  display: flex;
  justify-content: start;
  font-size: 2rem;
  font-family: var(--Satoshi-Light);
}
.footer-bottom-content__items-title:first-child {
  margin-bottom: 4rem;
}
.footer-bottom-content__items {
}

.footer-bottom-content__item {
  margin-bottom: 2rem;
  text-align: left;
}
.footer-bottom-content__item a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-bottom-content__item-logo {
}

.front-page-footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;
}
.front-page-footer-bottom__copyright {
  margin: 0;
  text-align: left;
}

.front-page-footer-bottom__arrow {
  display: flex;
  gap: 2rem;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--Satoshi-Light);
  font-size: 1.3rem;
  letter-spacing: 0.25rem;
}
.front-page-footer-bottom__arrow-logo {
}
.footer-bottom-content__items-btn {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  max-width: 17.4rem;
  height: 4rem;
  gap: 1rem;
  text-transform: uppercase;
  font-family: var(--Satoshi-Light);
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
}

/* Work page */
.work-page-header__title,
.blog-page-header__title {
  margin-top: 22.4rem;
  font-size: 12.8rem;
}
.work-header__img-wrapper {
  display: grid;
  gap: 3.2rem;
  margin: 9.6rem 0 16rem 0;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 64rem));
}
.work-header__img {
  max-width: max-content;
}
.work-header__img img {
  width: 100%;
  height: 100%;
}
.work-footer,
.blog-footer {
}
/* blog */

.blog-boxes-wrapper {
  margin-bottom: 12.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3.2rem;
}
.blog-box {
  position: relative;
  padding: 4.8rem;
  max-width: 41.2rem;
  height: 47.3rem;
  background-color: var(--muted-primary-color-5);
}
.blog-box:hover .badge {
  display: inline-block;
}
.blog-box__img {
  max-width: 100%;
  display: inline-block;
}
.blog-box__badge {
  bottom: 16rem;
}
.blog-box__date {
  display: inline-block;
  font-size: 1.2rem;
  color: var(--muted-primary-color);
  margin-top: 1.7rem;
}
.blog-box__title {
  font-family: var(--Satoshi-Light);
  margin: 0.8rem 0;
  font-size: 1.8rem;
  line-height: 130%;
}
.blog-box__caption {
  color: var(--muted-primary-color);
  line-height: 180%;
  font-size: 1.2rem;
  margin-bottom: 1.7rem;
}
.blog-box__label {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: var(--Chillax-Regular);
  padding: 0.5rem 0.5rem;
  border: 1px solid var(--muted-primary-color-15);
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  background-color: var(--muted-primary-color-5);
}
/* services */
.services-page-header__title {
  max-width: 67rem !important;
  margin-top: 20rem;
}
.myServices-link {
  display: flex;
  justify-content: center;
  font-family: var(--Satoshi-Light);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 6rem 0;
  font-size: 1.2rem;
}
.myServices-link a {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.services-stats {
}
.services-stats__wrapper {
}
.services-stats__image {
  max-width: 160rem;
}
.services-stats__image img {
  width: 100%;
}
.services-stats__data-wrapper {
  display: flex;
  max-width: 160rem;
  justify-content: center;
  gap: 15rem;
  margin: 8rem 0 18rem 0;
  flex-wrap: wrap;
}
.services-stats__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.services-stats__data-title {
  color: var(--muted-primary-color);
  font-family: var(--Satoshi-Light);
  font-size: 1.3rem;
  line-height: 0.15rem;
  text-transform: uppercase;
}
.services-stats__data-number {
  font-family: var(--Satoshi-Light);
  font-size: 6.4rem;
}
.services-web-design {
  max-width: 120rem;
  margin: 0 auto 3.2rem auto;
  padding: 6.4rem;
  background-color: var(--muted-primary-color-5);
  border: 1px solid var(--muted-primary-color-15);
}
.services-web-design__label {
  text-transform: uppercase;
  font-family: var(--Satoshi-Light);
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
}
.services-web-design__title {
  font-family: var(--Satoshi-Light);
  font-size: 6.4rem;
  font-weight: 400;
  margin-top: 1.6rem;
}
.services-web-design__image {
  margin: 4.8rem auto;
  max-width: 107rem;
}
.services-web-design__image img {
  width: 100%;
}
.services-web-design__captions-wrapper {
  display: flex;
  margin-bottom: 4.8rem;
  border-bottom: 1px solid var(--muted-primary-color-15);
  padding-bottom: 4.8rem;
}
.services-web-design__captions-wrapper:last-child {
  border: none;
}
.services-web-design__caption-title {
  flex-basis: 26rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: var(--Satoshi-Light);
  letter-spacing: 1.5px;
}
.services-web-design__caption-detail {
  color: var(--muted-primary-color);
  font-size: 1.6rem;
  max-width: 81.4rem;
  line-height: 180%;
}
.services-footer {
  margin-top: 16rem;
}
/* contact */
.contact-header-content {
  display: flex;
  align-items: center;
  padding-top: 14rem;
}
.contact-image-wrapper {
  flex-basis: 50%;
}

.contact-image-wrapper img {
  width: 100%;
}
.contact-form__wrapper {
  max-width: 60rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  background-color: var(--muted-primary-color-5);
  padding: 4.8rem;
  width: 100%;
}
.contact-form__label,
.contact-form__title,
.contact-form__name,
.contact-form__email,
.contact-form__message {
  font-family: var(--Satoshi-Light);
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  color: var(--primary-color);
}
.contact-form__name,
.contact-form__email,
.contact-form__message {
  outline: none;
  color: #959595;
  padding: 1.3rem 2rem;
  background-color: var(--muted-primary-color-5);
  border: 1px solid var(--muted-primary-color-15);
}
.contact-form__name:focus,
.contact-form__email:focus,
.contact-form__message:focus {
  background: var(--muted-primary-color-15);
}

.contact-form__label {
  color: var(--muted-primary-color);
  text-transform: uppercase;
}
.contact-form__title {
  font-size: 4.8rem;
  margin: 0.8rem 0 3.2rem 0;
}
.contact-form__name {
}
.contact-form__email {
  margin: 1.6rem 0;
}

.contact-form__message {
  resize: none;
}
.contact-form__submit-btn {
  margin-top: 1.5rem;
  border: none;
  font-family: var(--Satoshi-Light);
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  font-weight: 600;
  text-transform: uppercase;
}
.contact-form__social-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;
  margin-top: 1.6rem;
}
.contact-form__social-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 29.2rem;
  padding: 1.6rem;
  background-color: var(--muted-primary-color-5);
}
.contact-form__social-box-icon-wrapper {
  display: flex;
  gap: 1.6rem;
}
