@media (max-width: 1700px) {
    .about-person__name {
        font-size: 6.5rem;
    }
}
@media (max-width: 1458px) {
    .work-header__img-wrapper {
        grid-template-columns: repeat(2, minmax(20rem, auto));
    }
}
@media (max-width: 1200px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .process-level-bar-shapes {
        display: none;
    }
    .process-content {
        gap: 5rem;
        grid-template-columns: 1fr;
    }
    #process-box-grid-1,
    #process-box-grid-3,
    #process-box-grid-5 {
        grid-column: 1/3;
    }
    .about-person__name {
        font-size: 5rem;
    }
}
@media (max-width: 992px) {
    .about-person__details-wrapper {
        flex-direction: column;
        justify-content: center;
    }
    .about-person__details {
        margin: 3.2rem auto 0 auto;
    }
    .about-person__caption {
        text-align: center;
        justify-self: center;
    }
    .about-person__logos-wrapper {
        justify-content: center;
    }
    .about-person__name {
        font-size: 2.5rem !important;
    }
    .blog-box {
        max-width: 30rem;
        height: 44.7rem;
    }
    .blog-box__badge {
        bottom: 22rem;
    }
    .contact-header-content {
        flex-direction: column;
        gap: 4rem;
    }
}
@media (max-width: 768px) {
    .menu {
        display: none;
    }
    .mobile-nav {
        display: flex;
    }
    .menu-mobile {
        display: flex;
        left: -50vw;
    }
    .header-content__img {
        left: auto;
        right: -10rem;
    }
    .title {
        font-size: 5.5rem;
    }
    .caption {
        font-size: 1.75rem;
    }
    .testimonials-content {
        grid-template-columns: 1fr;
    }
    .work-header__title {
        font-size: 3.5rem;
    }
    .about-person__name {
        display: none !important;
    }
    .front-page-footer-bottom__arrow span {
        display: none;
    }
    .work-page-header__title {
        font-size: 8.5rem !important;
    }
    .work-header__img-wrapper {
        right: -18rem;
        grid-template-columns: auto;
    }
    .blog-box {
        max-width: 50rem;
        height: 52.1rem;
    }
    .blog-box__badge {
        bottom: 16rem;
    }

    .services-stats__data-number {
        font-size: 4.4rem;
    }
    .services-web-design__captions-wrapper {
        flex-direction: column;
        gap: 1rem;
    }
    .services-web-design__caption-title {
        flex-basis: auto;
        line-height: 2rem;
    }
    .services-web-design__label {
        font-size: 1rem;
    }
    .contact-form__social-box {
        flex-basis: 100%;
    }
}
@media (max-width: 481px) {
    .header-content__img {
        left: auto;
    }
    .work-content {
        grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
    }
    .work-header__title {
        font-size: 2.5rem;
    }
    .work-header__link {
        font-size: 1.2rem;
        gap: 0.6rem;
    }
    .about-person__title {
        font-size: 2.75rem;
    }
    .about-person__caption {
        font-size: 1.5rem;
    }
    .blog-box {
        height: auto;
    }

    .services-stats__data-wrapper {
        gap: 4rem;
    }
    .services-stats__data-title {
        font-size: 1rem;
    }
    .services-web-design__title {
        font-size: 3rem;
        line-height: 4rem;
    }
    .contact-form {
        padding: 2.8rem;
    }
}
